<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile=".\internal-nlog-AspNetCore.txt">

	<variable name="siteUrl" value="${aspnet-request-url:IncludePort=false}" />

	<targets>
		<target xsi:type="File" name="allfile"
				fileName="Logs/nlog-AspNetCore-all-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

		<target xsi:type="File" name="ownFile-web"
				fileName="Logs/nlog-AspNetCore-own-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}| body: ${aspnet-request-posted-body}" />

		<target xsi:type="Console" name="lifetimeConsole"
				layout="${level:truncate=4:lowercase=true}: ${logger}[0]${newline}      ${message}${exception:format=tostring}" />

		<target xsi:type="Console" name="logconsole"
				layout="${level:truncate=4:lowercase=true}: ${logger}[0]${newline}      ${message}${exception:format=tostring}" />

		<target name="infofile"
				xsi:type="File"
				fileName="Logs/App-Information.log"
				archiveEvery="Day"
				archiveFileName="Logs/Archive/{#}_Information.log"
				archiveNumbering="DateAndSequence"
				maxArchiveFiles="30" />

		<target name="errorfile"
				xsi:type="File"
				fileName="Logs/App-Error.log"
				layout="${longdate} ${message} ${exception:format=tostring}"
				archiveEvery="Day"
				archiveFileName="Logs/Archive/{#}_Error.log"
				archiveNumbering="DateAndSequence"
				maxArchiveFiles="30" />
	</targets>

	<rules>
		<!-- Microsoft and Framework Logs -->
		<logger name="Microsoft.*" maxlevel="Warning" final="true" />
		<logger name="System.*" maxlevel="Warning" final="true" />
		<logger name="Microsoft.AspNetCore.*" maxlevel="Warning" final="true" />

		<!-- Default Logs -->
		<logger name="*" minlevel="Trace" writeTo="allfile">
			<filters defaultAction='Log'>
				<when condition="contains('${message}','PerformanceInfo')" action="Ignore" />
				<when condition="contains('${logger}','Microsoft.AspNetCore.Mvc')" action="Ignore" />
				<when condition="contains('${logger}','Microsoft.AspNetCore.Hosting')" action="Ignore" />
			</filters>
		</logger>

		<!-- Info Logs -->
		<logger name="*" minlevel="Debug" writeTo="infofile">
			<filters defaultAction='Log'>
				<when condition="contains('${message}','PerformanceInfo')" action="Ignore" />
				<when condition="contains('${logger}','Microsoft.AspNetCore')" action="Ignore" />
			</filters>
		</logger>

		<!-- Error Logs -->
		<logger name="*" minlevel="Warn" writeTo="errorfile" />

		<!-- Lifetime Logs -->
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole, ownFile-web" final="true" />

		<!-- Web and Console Logs -->
		<logger name="*" minlevel="Trace" writeTo="ownFile-web">
			<filters>
				<when condition="contains('${logger}','Microsoft.AspNetCore')" action="Ignore" />
			</filters>
		</logger>
		<logger name="*" minlevel="Debug" writeTo="logconsole" />
	</rules>
</nlog>