<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile=".\internal-nlog-AspNetCore.txt">



	<!-- Configuration Variables -->

	<variable name="siteUrl" value="${aspnet-request-url:IncludePort=false}" />

	<variable name="DatabaseConnectionString" value="Data Source=111.93.220.178;Initial Catalog=api-design8;Persist Security Info=True;TrustServerCertificate=True;User ID=Sa;Password=SQLExpress@2022" />
	<variable name="DatabaseTableName" value="Logs" />


	<targets>
		<!-- File Logging  start-->
		<!-- General Log File -->
		<target xsi:type="File" name="allfile"
                fileName="Logs/nlog-AspNetCore-all-${shortdate}.log"
                keepFileOpen="false"
                writeBuffer="false"
                enableArchiveFileCompression="true"
                layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

		<!-- Web Log File -->
		<target xsi:type="File" name="ownFile-web"
                fileName="Logs/nlog-AspNetCore-own-${shortdate}.log"
                keepFileOpen="false"
                writeBuffer="false"
                enableArchiveFileCompression="true"
                layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${callsite}| body: ${aspnet-request-posted-body}" />

		<!-- Console Logs -->
		<target xsi:type="Console" name="lifetimeConsole"
                layout="${level:truncate=4:lowercase=true}: ${logger}[0]${newline}      ${message}${exception:format=tostring}" />

		<target xsi:type="Console" name="logconsole"
                layout="${level:truncate=4:lowercase=true}: ${logger}[0]${newline}      ${message}${exception:format=tostring}" />

		<!-- Information Log -->
		<target name="infofile"
                xsi:type="File"
                fileName="Logs/App-Information.log"
                keepFileOpen="false"
                writeBuffer="false"
                enableArchiveFileCompression="true"
                archiveEvery="Day"
                archiveFileName="Logs/Archive/{#}_Information.log"
                archiveNumbering="DateAndSequence"
                maxArchiveFiles="30"
                layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

		<!-- Error Log -->
		<target name="errorfile"
                xsi:type="File"
                fileName="Logs/App-Error.log"
                keepFileOpen="false"
                writeBuffer="false"
                enableArchiveFileCompression="true"
                archiveEvery="Day"
                archiveFileName="Logs/Archive/{#}_Error.log"
                archiveNumbering="DateAndSequence"
                maxArchiveFiles="30"
                layout="${longdate} ${message} ${exception:format=tostring}" />
		<!-- File Logging  end-->

		<!-- SQL Database Logging  Start-->
		<!--
		<target xsi:type="Database" name="dbLogger"
				connectionString="${var:DatabaseConnectionString}"
				commandText="INSERT INTO ${var:DatabaseTableName} (CreatedOn,Message,Level,Exception,StackTrace,Logger,Url) VALUES (@datetime,@msg,@level,@exception,@trace,@logger,@url)">
			<parameter name="@datetime" layout="${date}" />
			<parameter name="@msg" layout="${message}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@exception" layout="${exception}" />
			<parameter name="@trace" layout="${stacktrace}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@url" layout="${aspnet-request-url}" />
		</target>
		-->
		<!-- SQL Database Logging  end-->

	</targets>



	<!-- Logging Rules with Filters & Conditions -->
	<rules>
		<!-- File Logging  start-->


		<!-- Microsoft and Framework Logs -->
		<logger name="Microsoft.*" maxlevel="Warning" final="true" />
		<logger name="System.*" maxlevel="Warning" final="true" />
		<logger name="Microsoft.AspNetCore.*" maxlevel="Warning" final="true" />
		<logger name="LuckyPennySoftware.*" maxlevel="Warn" final="true" />

		<!-- Default Logs -->
		<logger name="*" minlevel="Trace" writeTo="allfile">
			<filters defaultAction='Log'>
				<when condition="contains('${message}','PerformanceInfo')" action="Ignore" />
				<when condition="contains('${logger}','Microsoft.AspNetCore.Mvc')" action="Ignore" />
				<when condition="contains('${logger}','Microsoft.AspNetCore.Hosting')" action="Ignore" />
			</filters>
		</logger>

		<!-- Info Logs -->
		<logger name="*" minlevel="Debug" writeTo="infofile">
			<filters defaultAction='Log'>
				<when condition="contains('${message}','PerformanceInfo')" action="Ignore" />
				<when condition="contains('${logger}','Microsoft.AspNetCore')" action="Ignore" />
			</filters>
		</logger>

		<!-- Error Logs -->
		<logger name="*" minlevel="Warn" writeTo="errorfile" />

		<!-- Lifetime Logs -->
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole, ownFile-web" final="true" />

		<!-- Web and Console Logs -->
		<logger name="*" minlevel="Trace" writeTo="ownFile-web">
			<filters>
				<when condition="contains('${logger}','Microsoft.AspNetCore')" action="Ignore" />
			</filters>
		</logger>
		<logger name="*" minlevel="Debug" writeTo="logconsole" />
		<!-- File Logging  end-->

		<!-- SQL logging  start-->
		<!--
		<logger name="*" minlevel="Trace" writeTo="dbLogger" >
			<filters defaultAction='Log'>
				<when condition="contains('${message}','PerformanceInfo')" action="Ignore" />
				<when condition="contains('${logger}','Microsoft.AspNetCore.Mvc')" action="Ignore" />
				<when condition="contains('${logger}','Microsoft.AspNetCore.Hosting')" action="Ignore" />
			</filters>
		</logger>
		-->
		<!-- SQL logging  end-->

	</rules>
</nlog>
